body {
  margin: 0;
}

.App {
  background-color: lightgoldenrodyellow;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Georgia, "Times New Roman", Times, serif;
}
